/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* utils */

.highlight {
  background-color: yellow;
}

h1 {
  font-size: 50px;
  margin-bottom: 0px;
}

address {
  font-style: normal;
  font-size: 25px;
  color: rgb(152 152 152);
}

a {
  text-decoration: none;
  color: rgb(87 170 193);
}

figure {
  margin-left: 0px;
}

ul,
li {
  padding: 0px;
  margin-left: 10px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0px;
}

table thead {
  background-color: rgb(33 168 228);
  color: white;
}

section > span {
  color: rgb(152 152 152);
}

section > div {
  margin-top: 10px;
}

.mbottom30 {
  margin-bottom: 30px;
}

.header-page {
  background-color: rgb(77 161 255);
  background-image: url("../img/pattern.png");
}

.img-logo {
  height: 100px;
  margin-top: 100px;
}

.highligh-cell {
  background-color: rgb(177 229 242);
}

.container-img {
  position: relative;
  width: 25%;
}

.container-img img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container-img div {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 30px;
}
